// 定义变量
$primary-color: #3498db;
$secondary-color: #2ecc71;

body{
    background-color: #262727;
    // color:#e0d9cd;
    color: $primary-color;
}


.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}